# Data Cleaning & Basic EDA

In [1]:
import pandas as pd 

df  = pd.read_csv(r"C:\Users\19178\OneDrive\Documents\Downloads\datasets\Books_Data_Clean.csv")

In [23]:
df_sorted = df.sort_values(by='Publishing Year', ascending=False)
print(unique)

589     -560.0
990     -441.0
293     -430.0
241     -380.0
568     -300.0
749      -17.0
636     1308.0
446     1320.0
115     1390.0
242     1593.0
308     1596.0
239     1599.0
324     1601.0
183     1603.0
66      1605.0
273     1623.0
453     1667.0
826     1678.0
45      1759.0
261     1812.0
676     1812.0
903     1826.0
807     1830.0
247     1831.0
577     1835.0
542     1847.0
901     1848.0
59      1849.0
119     1852.0
946     1853.0
981     1853.0
583     1854.0
288     1854.0
29      1856.0
783     1859.0
533     1859.0
833     1864.0
441     1864.0
510     1868.0
168     1869.0
430     1871.0
995     1871.0
955     1871.0
175     1872.0
557     1874.0
1049    1879.0
108     1880.0
647     1881.0
582     1883.0
823     1886.0
961     1890.0
709     1891.0
28      1891.0
930     1894.0
238     1894.0
796     1894.0
1024    1896.0
16      1897.0
673     1897.0
251     1899.0
70      1901.0
87      1902.0
269     1902.0
466     1905.0
9       1905.0
1038    1905.0
978     1905.0
348     1906.0
404     1906.0
295     1908.0
427     1908.0
298     1908.0
679     1909.0
120     1909.0
1035    1911.0
923     1912.0
789     1914.0
604     1914.0
581     1915.0
428     1916.0
563     1918.0
140     1920.0
368     1920.0
683     1922.0
14      1922.0
83      1925.0
170     1925.0
879     1926.0
484     1927.0
553     1927.0
1014    1928.0
187     1929.0
356     1930.0
680     1930.0
527     1930.0
1067    1930.0
382     1931.0
150     1932.0
278     1932.0
653     1933.0
141     1934.0
722     1934.0
13      1935.0
149     1937.0
958     1937.0
372     1938.0
947     1938.0
148     1939.0
629     1939.0
880     1940.0
834     1940.0
916     1941.0
345     1941.0
774     1942.0
575     1945.0
691     1945.0
862     1945.0
630     1945.0
655     1945.0
337     1945.0
199     1947.0
341     1947.0
18      1948.0
184     1949.0
106     1950.0
315     1950.0
49      1950.0
403     1952.0
976     1952.0
258     1952.0
205     1952.0
966     1952.0
209     1953.0
71      1953.0
692     1953.0
359     1953.0
488     1953.0
482     1953.0
178     1953.0
398     1954.0
817     1954.0
11      1954.0
1059    1955.0
357     1955.0
962     1956.0
110     1956.0
798     1956.0
1030    1957.0
719     1958.0
627     1958.0
935     1958.0
836     1958.0
530     1958.0
133     1958.0
1050    1959.0
1040    1959.0
989     1959.0
543     1959.0
102     1959.0
64      1959.0
889     1960.0
48      1960.0
267     1960.0
1051    1961.0
957     1961.0
30      1961.0
443     1962.0
987     1962.0
735     1962.0
938     1963.0
500     1964.0
234     1965.0
1053    1966.0
648     1966.0
716     1967.0
61      1967.0
197     1967.0
934     1967.0
262     1967.0
597     1968.0
1039    1968.0
791     1968.0
62      1968.0
1043    1969.0
574     1969.0
1017    1970.0
660     1970.0
75      1970.0
232     1970.0
90      1970.0
458     1971.0
787     1971.0
467     1971.0
207     1971.0
200     1971.0
130     1972.0
1060    1972.0
468     1972.0
463     1972.0
703     1973.0
433     1973.0
366     1973.0
665     1973.0
15      1974.0
444     1974.0
1021    1974.0
383     1974.0
335     1974.0
309     1975.0
0       1975.0
46      1975.0
203     1976.0
369     1976.0
507     1976.0
731     1976.0
601     1977.0
80      1977.0
756     1977.0
351     1978.0
999     1978.0
374     1978.0
326     1978.0
772     1978.0
852     1978.0
334     1978.0
904     1979.0
139     1979.0
569     1979.0
320     1979.0
346     1979.0
757     1979.0
144     1980.0
727     1980.0
129     1980.0
768     1980.0
132     1980.0
704     1980.0
808     1980.0
68      1980.0
842     1980.0
626     1981.0
25      1981.0
708     1981.0
524     1981.0
89      1982.0
637     1982.0
969     1982.0
292     1982.0
138     1982.0
1062    1982.0
231     1982.0
913     1982.0
208     1982.0
220     1982.0
949     1983.0
47      1983.0
887     1983.0
932     1984.0
654     1984.0
717     1984.0
865     1984.0
425     1984.0
972     1984.0
724     1984.0
174     1984.0
483     1984.0
674     1985.0
592     1985.0
472     1985.0
350     1985.0
590     1985.0
671     1985.0
226     1985.0
95      1985.0
781     1985.0
173     1985.0
165     1985.0
812     1986.0
900     1986.0
435     1986.0
849     1986.0
37      1986.0
57      1986.0
77      1986.0
687     1986.0
286     1986.0
743     1986.0
224     1987.0
162     1987.0
608     1987.0
954     1987.0
97      1987.0
268     1987.0
249     1987.0
558     1987.0
730     1987.0
81      1987.0
511     1987.0
1047    1987.0
706     1987.0
1       1987.0
332     1988.0
367     1988.0
746     1988.0
479     1988.0
204     1988.0
329     1988.0
198     1989.0
96      1989.0
436     1989.0
1066    1989.0
851     1989.0
313     1989.0
363     1989.0
235     1989.0
289     1989.0
254     1989.0
677     1990.0
686     1990.0
322     1990.0
953     1990.0
307     1991.0
194     1991.0
1041    1991.0
734     1991.0
104     1991.0
956     1991.0
22      1991.0
871     1992.0
380     1992.0
782     1992.0
870     1992.0
1002    1992.0
544     1992.0
837     1992.0
1036    1992.0
371     1992.0
602     1992.0
788     1992.0
752     1992.0
801     1992.0
191     1992.0
257     1993.0
388     1993.0
560     1993.0
73      1993.0
23      1993.0
418     1993.0
891     1993.0
548     1993.0
26      1993.0
555     1993.0
615     1993.0
698     1993.0
628     1994.0
675     1994.0
202     1994.0
738     1994.0
7       1994.0
176     1994.0
1064    1994.0
384     1994.0
1033    1994.0
451     1994.0
302     1994.0
492     1994.0
927     1994.0
540     1995.0
619     1995.0
988     1995.0
216     1995.0
122     1995.0
586     1995.0
301     1995.0
1022    1995.0
440     1995.0
892     1995.0
39      1995.0
67      1995.0
196     1995.0
65      1995.0
128     1995.0
917     1995.0
918     1995.0
1061    1996.0
537     1996.0
1055    1996.0
255     1996.0
24      1996.0
1005    1996.0
413     1996.0
487     1996.0
658     1996.0
662     1996.0
181     1996.0
588     1996.0
248     1996.0
316     1996.0
614     1996.0
381     1996.0
682     1996.0
245     1997.0
517     1997.0
715     1997.0
412     1997.0
790     1997.0
213     1997.0
195     1997.0
391     1997.0
465     1997.0
799     1997.0
275     1997.0
432     1997.0
94      1997.0
259     1997.0
51      1997.0
780     1998.0
347     1998.0
42      1998.0
172     1998.0
847     1998.0
600     1998.0
520     1998.0
506     1998.0
853     1998.0
855     1998.0
893     1998.0
264     1998.0
210     1998.0
410     1998.0
528     1998.0
536     1998.0
98      1998.0
690     1998.0
684     1998.0
718     1998.0
394     1998.0
229     1998.0
650     1999.0
967     1999.0
611     1999.0
693     1999.0
838     1999.0
739     1999.0
1013    1999.0
895     1999.0
526     1999.0
997     1999.0
926     1999.0
580     1999.0
983     1999.0
552     1999.0
474     1999.0
455     1999.0
1069    1999.0
342     1999.0
420     1999.0
236     1999.0
354     1999.0
272     1999.0
323     1999.0
131     1999.0
44      1999.0
160     1999.0
304     1999.0
318     1999.0
694     2000.0
63      2000.0
786     2000.0
85      2000.0
406     2000.0
965     2000.0
297     2000.0
793     2000.0
325     2000.0
352     2000.0
502     2000.0
907     2000.0
613     2000.0
620     2000.0
632     2000.0
714     2000.0
559     2000.0
929     2000.0
831     2000.0
21      2000.0
43      2000.0
485     2001.0
755     2001.0
360     2001.0
246     2001.0
417     2001.0
758     2001.0
127     2001.0
1042    2001.0
607     2001.0
503     2001.0
572     2001.0
333     2001.0
914     2001.0
819     2001.0
695     2001.0
424     2001.0
287     2001.0
401     2001.0
546     2001.0
143     2001.0
850     2001.0
702     2001.0
547     2001.0
317     2001.0
645     2001.0
152     2001.0
370     2001.0
748     2002.0
387     2002.0
109     2002.0
556     2002.0
1018    2002.0
362     2002.0
593     2002.0
596     2002.0
91      2002.0
811     2002.0
1058    2002.0
701     2002.0
848     2002.0
846     2002.0
189     2002.0
532     2002.0
729     2002.0
212     2002.0
84      2002.0
56      2002.0
994     2003.0
606     2003.0
685     2003.0
571     2003.0
668     2003.0
933     2003.0
697     2003.0
365     2003.0
279     2003.0
784     2003.0
157     2003.0
728     2003.0
624     2003.0
227     2003.0
623     2003.0
494     2003.0
915     2003.0
861     2003.0
1000    2003.0
32      2003.0
736     2003.0
945     2003.0
385     2003.0
177     2003.0
41      2003.0
970     2003.0
876     2003.0
405     2003.0
40      2003.0
55      2003.0
644     2003.0
155     2003.0
640     2003.0
858     2003.0
802     2003.0
883     2003.0
237     2003.0
741     2003.0
192     2003.0
751     2004.0
54      2004.0
10      2004.0
765     2004.0
566     2004.0
773     2004.0
565     2004.0
489     2004.0
1016    2004.0
937     2004.0
522     2004.0
712     2004.0
759     2004.0
476     2004.0
767     2004.0
27      2004.0
905     2004.0
554     2004.0
1063    2004.0
525     2004.0
396     2004.0
151     2004.0
928     2004.0
222     2004.0
806     2004.0
742     2004.0
576     2004.0
422     2004.0
769     2004.0
948     2004.0
857     2004.0
339     2005.0
1003    2005.0
336     2005.0
156     2005.0
618     2005.0
890     2005.0
868     2005.0
461     2005.0
641     2005.0
705     2005.0
860     2005.0
859     2005.0
135     2005.0
809     2005.0
38      2005.0
179     2005.0
438     2005.0
804     2005.0
379     2005.0
899     2005.0
747     2005.0
169     2005.0
975     2005.0
284     2005.0
770     2005.0
364     2005.0
518     2005.0
827     2005.0
595     2005.0
761     2005.0
495     2005.0
964     2005.0
792     2005.0
188     2005.0
921     2005.0
100     2005.0
867     2006.0
866     2006.0
830     2006.0
839     2006.0
159     2006.0
310     2006.0
1006    2006.0
707     2006.0
973     2006.0
17      2006.0
998     2006.0
358     2006.0
125     2006.0
215     2006.0
250     2006.0
121     2006.0
253     2006.0
377     2006.0
984     2006.0
564     2006.0
386     2006.0
78      2006.0
979     2006.0
539     2006.0
832     2006.0
910     2006.0
33      2006.0
116     2006.0
450     2006.0
877     2006.0
1023    2006.0
1052    2006.0
622     2006.0
818     2006.0
1004    2006.0
338     2006.0
501     2006.0
437     2006.0
19      2006.0
449     2006.0
820     2006.0
206     2007.0
821     2007.0
723     2007.0
277     2007.0
699     2007.0
700     2007.0
185     2007.0
180     2007.0
726     2007.0
760     2007.0
805     2007.0
763     2007.0
762     2007.0
114     2007.0
392     2007.0
598     2007.0
111     2007.0
344     2007.0
93      2007.0
963     2007.0
529     2007.0
896     2007.0
625     2007.0
985     2007.0
60      2007.0
421     2007.0
74      2007.0
1009    2007.0
840     2007.0
490     2007.0
657     2007.0
863     2007.0
34      2007.0
504     2007.0
942     2008.0
112     2008.0
3       2008.0
193     2008.0
1044    2008.0
794     2008.0
779     2008.0
480     2008.0
1026    2008.0
82      2008.0
519     2008.0
936     2008.0
72      2008.0
785     2008.0
512     2008.0
399     2008.0
570     2008.0
223     2008.0
886     2008.0
881     2008.0
328     2008.0
283     2008.0
266     2008.0
815     2008.0
154     2008.0
898     2008.0
825     2008.0
161     2008.0
878     2008.0
300     2008.0
163     2008.0
725     2008.0
829     2008.0
349     2008.0
126     2008.0
919     2008.0
167     2008.0
925     2008.0
303     2008.0
53      2009.0
872     2009.0
874     2009.0
217     2009.0
118     2009.0
991     2009.0
888     2009.0
146     2009.0
813     2009.0
136     2009.0
960     2009.0
909     2009.0
952     2009.0
950     2009.0
201     2009.0
920     2009.0
875     2009.0
171     2009.0
535     2009.0
285     2009.0
578     2009.0
376     2009.0
252     2009.0
270     2009.0
538     2009.0
402     2009.0
713     2009.0
521     2009.0
508     2009.0
493     2009.0
423     2009.0
744     2009.0
594     2009.0
233     2009.0
635     2009.0
605     2009.0
230     2009.0
294     2009.0
696     2009.0
663     2009.0
314     2009.0
470     2009.0
442     2009.0
434     2009.0
429     2009.0
454     2009.0
616     2010.0
652     2010.0
649     2010.0
340     2010.0
646     2010.0
856     2010.0
134     2010.0
906     2010.0
299     2010.0
845     2010.0
610     2010.0
609     2010.0
897     2010.0
225     2010.0
375     2010.0
457     2010.0
459     2010.0
1056    2010.0
12      2010.0
1048    2010.0
1045    2010.0
31      2010.0
1029    2010.0
123     2010.0
1027    2010.0
426     2010.0
1015    2010.0
69      2010.0
982     2010.0
86      2010.0
290     2010.0
107     2010.0
940     2010.0
1019    2010.0
541     2010.0
585     2010.0
720     2010.0
256     2010.0
271     2010.0
244     2010.0
260     2010.0
274     2010.0
753     2010.0
778     2010.0
800     2011.0
617     2011.0
416     2011.0
240     2011.0
894     2011.0
456     2011.0
1001    2011.0
414     2011.0
505     2011.0
499     2011.0
1010    2011.0
884     2011.0
992     2011.0
631     2011.0
1068    2011.0
882     2011.0
378     2011.0
117     2011.0
732     2011.0
389     2011.0
373     2011.0
393     2011.0
584     2011.0
124     2011.0
771     2011.0
105     2011.0
361     2011.0
103     2011.0
101     2011.0
803     2011.0
912     2011.0
88      2011.0
745     2011.0
562     2011.0
36      2011.0
477     2011.0
464     2011.0
661     2011.0
670     2011.0
669     2011.0
659     2011.0
1054    2011.0
656     2011.0
228     2011.0
460     2011.0
873     2011.0
52      2011.0
166     2011.0
473     2011.0
710     2011.0
6       2011.0
4       2011.0
291     2011.0
776     2011.0
219     2011.0
469     2012.0
397     2012.0
737     2012.0
750     2012.0
447     2012.0
549     2012.0
462     2012.0
1057    2012.0
944     2012.0
8       2012.0
939     2012.0
766     2012.0
550     2012.0
971     2012.0
1034    2012.0
486     2012.0
1012    2012.0
211     2012.0
1011    2012.0
214     2012.0
740     2012.0
113     2012.0
431     2012.0
1025    2012.0
58      2012.0
481     2012.0
754     2012.0
516     2012.0
1028    2012.0
986     2012.0
415     2012.0
523     2012.0
1032    2012.0
411     2012.0
974     2012.0
407     2012.0
475     2012.0
498     2012.0
688     2012.0
678     2012.0
638     2012.0
885     2012.0
603     2012.0
841     2012.0
843     2012.0
844     2012.0
306     2012.0
908     2012.0
305     2012.0
567     2012.0
633     2012.0
343     2012.0
265     2012.0
281     2012.0
672     2012.0
824     2012.0
621     2012.0
721     2012.0
931     2012.0
591     2012.0
158     2012.0
319     2012.0
666     2012.0
924     2012.0
312     2012.0
664     2012.0
186     2012.0
828     2012.0
20      2013.0
509     2013.0
145     2013.0
797     2013.0
330     2013.0
50      2013.0
478     2013.0
471     2013.0
221     2013.0
182     2013.0
276     2013.0
651     2013.0
142     2013.0
153     2013.0
764     2013.0
218     2013.0
439     2013.0
639     2013.0
634     2013.0
711     2013.0
99      2013.0
587     2013.0
263     2013.0
79      2013.0
681     2013.0
551     2013.0
612     2013.0
775     2013.0
943     2013.0
561     2013.0
190     2013.0
408     2013.0
92      2014.0
400     2014.0
355     2014.0
491     2014.0
76      2014.0
1046    2014.0
869     2014.0
951     2014.0
864     2014.0
1065    2014.0
579     2014.0
854     2014.0
835     2014.0
599     2014.0
353     2014.0
280     2014.0
137     2014.0
243     2014.0
164     2014.0
331     2014.0
448     2014.0
514     2014.0
996     2014.0
327     2014.0
419     2014.0
980     2014.0
296     2014.0
409     2014.0
147     2014.0
816     2014.0
496     2014.0
282     2014.0
911     2014.0
5       2015.0
689     2015.0
2       2015.0
452     2015.0
35      2015.0
573     2015.0
667     2015.0
941     2015.0
810     2015.0
390     2015.0
395     2015.0
922     2015.0
959     2015.0
814     2015.0
534     2015.0
531     2015.0
977     2015.0
822     2015.0
515     2015.0
733     2015.0
513     2015.0
1031    2015.0
311     2015.0
795     2015.0
642     2015.0
1007    2015.0
1008    2016.0
968     2016.0
777     2016.0
993     2016.0
545     2016.0
643     2016.0
1020    2016.0
321     2016.0
497     2016.0
1037    2016.0
902     2016.0
445        NaN
Name: Publishing Year, dtype: float64

In [2]:
df.head()

,index,Publishing Year,Book Name,Author,language_code,Author_Rating,Book_average_rating,Book_ratings_count,genre,gross sales,publisher revenue,sale price,sales rank,Publisher,units sold,language
0,0,1975.0,Beowulf,"Unknown, Seamus Heaney",English,Novice,3.42,155903,popular_fiction,34160.0,20496.0,4.88,1,HarperCollins Publishers,7000,English
1,1,1987.0,Batman: Year One,"Frank Miller, David Mazzucchelli, Richmond Lew...",English,Intermediate,4.23,145267,popular_fiction,12437.5,7462.5,1.99,2,HarperCollins Publishers,6250,English
2,2,2015.0,Go Set a Watchman,Harper Lee,English,Novice,3.31,138669,popular_fiction,47795.0,28677.0,8.69,3,"Amazon Digital Services, Inc.",5500,English
3,3,2008.0,When You Are Engulfed in Flames,David Sedaris,English,Intermediate,4.04,150898,fiction,41250.0,24750.0,7.50,3,Hachette Book Group,5500,English
4,4,2011.0,Daughter of Smoke & Bone,Laini Taylor,English,Intermediate,4.04,198283,popular_fiction,37952.5,22771.5,7.99,4,Penguin Group (USA) LLC,4750,English

### Check for missing values

In [4]:
missing_values_count = df.isnull().sum()
missing_values_count

index                   0
Publishing Year         1
Book Name              23
Author                  0
language_code          53
Author_Rating           0
Book_average_rating     0
Book_ratings_count      0
genre                   0
gross sales             0
publisher revenue       0
sale price              0
sales rank              0
Publisher               0
units sold              0
dtype: int64

In [16]:
missing_values_count = df.isnull().sum()
missing_values_count

index                   0
Publishing Year         1
Book Name              23
Author                  0
language_code          53
Author_Rating           0
Book_average_rating     0
Book_ratings_count      0
genre                   0
gross sales             0
publisher revenue       0
sale price              0
sales rank              0
Publisher               0
units sold              0
dtype: int64

In [7]:
print(df.dtypes)

index                    int64
Publishing Year        float64
Book Name               object
Author                  object
language_code           object
Author_Rating           object
Book_average_rating    float64
Book_ratings_count       int64
genre                   object
gross sales            float64
publisher revenue      float64
sale price             float64
sales rank               int64
Publisher               object
units sold               int64
dtype: object

### Adjust and change values for better visualizations

In [8]:
unique = df['language_code'].unique()
print(unique)

['en-US' 'eng' nan 'spa' 'en-GB' 'fre' 'en-CA' 'nl' 'ara']

In [20]:
# replace any value with en = english 
#replace spa = spanish 
#replace fre = french
#replace nl = Dutch
#replace ara = arabic

df['language_code'] = df['language_code'].replace({'en-GB': 'English', 'en-CA': 'English', 'en-US': 'English', 'fre' : 'French', 
                                        'nl' : 'Dutch', 'ara' : 'Arabic', 'eng' : 'English', 'spa' : 'Spanish'})

In [15]:
unique = df['language_code'].unique()
print(unique)

['English' nan 'Spanish' 'French' 'Dutch' 'Arabic']

In [22]:
df.head()

,index,Publishing Year,Book Name,Author,language_code,Author_Rating,Book_average_rating,Book_ratings_count,genre,gross sales,publisher revenue,sale price,sales rank,Publisher,units sold,language
0,0,1975.0,Beowulf,"Unknown, Seamus Heaney",English,Novice,3.42,155903,genre fiction,34160.0,20496.0,4.88,1,HarperCollins Publishers,7000,English
1,1,1987.0,Batman: Year One,"Frank Miller, David Mazzucchelli, Richmond Lew...",English,Intermediate,4.23,145267,genre fiction,12437.5,7462.5,1.99,2,HarperCollins Publishers,6250,English
2,2,2015.0,Go Set a Watchman,Harper Lee,English,Novice,3.31,138669,genre fiction,47795.0,28677.0,8.69,3,"Amazon Digital Services, Inc.",5500,English
3,3,2008.0,When You Are Engulfed in Flames,David Sedaris,English,Intermediate,4.04,150898,fiction,41250.0,24750.0,7.50,3,Hachette Book Group,5500,English
4,4,2011.0,Daughter of Smoke & Bone,Laini Taylor,English,Intermediate,4.04,198283,genre fiction,37952.5,22771.5,7.99,4,Penguin Group (USA) LLC,4750,English

In [5]:
unique = df['genre'].unique()
print(unique)

['popular_fiction' 'fiction' 'nonfiction' 'children']

In [32]:
df['genre'] = df['genre'].str.strip().replace({'genre fiction': 'popular_fiction'})

In [33]:
unique = df['genre'].unique()
print(unique)

['popular_fiction' 'fiction' 'nonfiction' 'children']

In [14]:
unique = df['Publisher'].unique()
print(unique)

['HarperCollins Publishers' 'Amazon Digital Services,  Inc.'
 'Hachette Book Group' 'Penguin Group (USA) LLC' 'Random House LLC'
 'Simon and Schuster Digital Sales Inc' 'Macmillan'
 'HarperCollins Publishing' 'HarperCollins Christian Publishing']

In [15]:
#change harper collins pub to the same name

df['Publisher'] = df['Publisher'].replace({'HarperCollins Publishing': 'HarperCollins Publishers',
                                           'HarperCollins Christian Publishing': 'HarperCollins Publishers'})

In [16]:
unique = df['Publisher'].unique()
print(unique)

['HarperCollins Publishers' 'Amazon Digital Services,  Inc.'
 'Hachette Book Group' 'Penguin Group (USA) LLC' 'Random House LLC'
 'Simon and Schuster Digital Sales Inc' 'Macmillan']

In [12]:
print(df.columns)

Index(['index', 'Publishing Year', 'Book Name', 'Author', 'language_code',
       'Author_Rating', 'Book_average_rating', 'Book_ratings_count', 'genre',
       'gross sales', 'publisher revenue', 'sale price', 'sales rank',
       'Publisher', 'units sold', 'language'],
      dtype='object')

In [7]:
df.head()

,index,Publishing Year,Book Name,Author,language_code,Author_Rating,Book_average_rating,Book_ratings_count,genre,gross sales,publisher revenue,sale price,sales rank,Publisher,units sold,language
0,0,1975.0,Beowulf,"Unknown, Seamus Heaney",English,Novice,3.42,155903,popular_fiction,34160.0,20496.0,4.88,1,HarperCollins Publishers,7000,English
1,1,1987.0,Batman: Year One,"Frank Miller, David Mazzucchelli, Richmond Lew...",English,Intermediate,4.23,145267,popular_fiction,12437.5,7462.5,1.99,2,HarperCollins Publishers,6250,English
2,2,2015.0,Go Set a Watchman,Harper Lee,English,Novice,3.31,138669,popular_fiction,47795.0,28677.0,8.69,3,"Amazon Digital Services, Inc.",5500,English
3,3,2008.0,When You Are Engulfed in Flames,David Sedaris,English,Intermediate,4.04,150898,fiction,41250.0,24750.0,7.50,3,Hachette Book Group,5500,English
4,4,2011.0,Daughter of Smoke & Bone,Laini Taylor,English,Intermediate,4.04,198283,popular_fiction,37952.5,22771.5,7.99,4,Penguin Group (USA) LLC,4750,English

In [ ]:
df['publisher'] = df['genre'].str.strip().replace({'genre fiction': 'popular_fiction'})

In [17]:
csv_file_path = (r"C:\Users\19178\OneDrive\Documents\Downloads\datasets\Books_Data_Clean.csv")
df.to_csv(csv_file_path, index=False)